<a href="https://colab.research.google.com/github/eatyndale/LEARNING-JOURNEY/blob/main/R%20for%20Data%20Data%20Mining.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#BASICS

In [ ]:
{r <- 2
area <- pi * r ^ 2
print (paste("The area of this particular circle is", area, "metres squared"))}

[1] "The area of this particular circle is 12.56636 metres squared"

In [ ]:
radius <- as.numeric(readline("Please enter the radius of the circle: "))
area <- pi*radius^2
#print(area)
print(paste("The Area of this new circle is", area, "meters squared."))

Please enter the radius of the circle: 7
[1] "The Area of this new circle is 153.93791 meters squared."

#VARIABLES
A variable is a name given to a computer location
##four rules in creating variables:
1. Start with a character or "_" sign
2. no keywords (eg: "for <- 56", while <- 20, etc)
3. no special symbols/characters except "_"
4. Case sensitive

In [ ]:
x<-10
y<-20

[1] 30

In [ ]:
name <- as.character(readline("Please enter your name: "))
current_age <- as.numeric(readline("Please enter your current age: "))
age_next_year <- current_age + 1

print(paste("Hi, ", name, "next year you will be ",age_next_year, " years old."))

Please enter your name: Pradeep
Please enter your current age: 45
[1] "Hi,  Pradeep next year you will be  46  years old."

#CONDTIONAL STATEMENTS
When you have moe than 1 option and can oly select one at a time.

##methods
1. If - else
2. Case (switch)

###for If -else
 if (test_expression) {
    statement
    } else {
      (sttaement)
 }

there is the nested if/if-else ladder structure. ie multiple if and else statements

In [ ]:
{
  mark_1 <- as.numeric(readline("Please enter your score for course 1: "))
  mark_2 <- as.numeric(readline("Please enter your score for course 2: "))
  mark_3 <- as.numeric(readline("Please enter your score for course 3: "))

  total_marks <- as.numeric(mark_1 + mark_2 + mark_3)
  mark_average <- round(total_marks/3)
  print (paste("Your total mark is", total_marks, "while Your average mark is:", mark_average))

    if (mark_average <= 100 & mark_average >= 70) {
    grade <- "Distinction"
  } else if (mark_average <70 & mark_average >= 60) {
    grade <- "Merit"
  } else if (mark_average <60 & mark_average >= 50) {
    grade <- "Pass"
  } else {
    grade <- "Fail"
  }

  print(paste("Your total mark is", total_marks, "while your average mark is:", mark_average))
  print(paste("Your grade is:", grade))
}

Please enter your score for course 1: 78
Please enter your score for course 2: 98
Please enter your score for course 3: 90
[1] "Your total mark is 266 while Your average mark is: 89"
[1] "Your total mark is 266 while your average mark is: 89"
[1] "Your grade is: Distinction"

In [ ]:
rnorm(10)

[1] -0.96640726 -0.09986775  0.30531838 -2.27566649 -0.34897716  0.46872969
[7]  0.62378471 -0.10398130  2.15583130

In [ ]:
{
random_number <- rnorm(1)
  print(paste("your number is",random_number))

if (random_number > 1) {
  ("The number is greater than 1")
} else if (random_number >= -1) {
  ("The number is between -1 and +1")
} else {
  ("The number is less than -1")
}
}

#Repitition

While loop
{
  x <- 1
  while (x <= 10) {
    print(x)
    x <- x + 1
  }
}

every single occurence in a repition is a an interation. and the entire iteration is ccalled loop.

two types of loop:
##while loop
##for loop

in  while loop, until the condtions are satisfied, you need to repeat the instruction.

In [ ]:
{
  x <- 1
  while (x <= 10) {
    print(x)
    x <- x + 1
  }
}

In [ ]:
x<-0
while (x<5){
  print("pradeep")
}

#this will introduce an infinite loop because until x changes, it will always be less than 5

In the while loop, you can use 2 extra commands:
1. next (this is used to skip iterations and move to the next iteration)
2. break (this is used to completely stop the entire loop)

Range performs/lists series of alues from a lower limit to an upper limit, using a specified interval
if the interval is nopt stated, it assumes an interval of 1
this is very important in for loop

In [ ]:
x <- 1:3
for (val in x) {
  print ("pradeep")
}

[1] "pradeep"
[1] "pradeep"
[1] "pradeep"

for loop is used when the length of the loop is known and defined

difference between REPEAT and WWHILE loops is that while loop conditions are stated before the functions, while repeat loops can be inside the functions

In [ ]:
# prompt: Write a while loop that prints out standard random normal numbers (use rnorm()) but stops (breaks) if you get a number bigger than 1.

x <- 0
while (x < 5) {
  random_number <- rnorm(1)
  print(random_number)
  if (random_number > 1) {
    break
  }
  x <- x + 1
}

VECTOR OPERATIONS

In [ ]:
# prompt: create a list with 1 to 10 numbers and print square values of each number

# Create a list of numbers from 1 to 10
my_list <- 1:10

# Calculate and print the square of each number
for (number in my_list) {
  square <- number^2
  print(paste("The square of", number, "is", square))
}

[1] "The square of 1 is 1"
[1] "The square of 2 is 4"
[1] "The square of 3 is 9"
[1] "The square of 4 is 16"
[1] "The square of 5 is 25"
[1] "The square of 6 is 36"
[1] "The square of 7 is 49"
[1] "The square of 8 is 64"
[1] "The square of 9 is 81"
[1] "The square of 10 is 100"

In [ ]:


# Create a vector A
A <- c(10, 20, 30)

# Calculate the sum
sum_A <- sum(A)

# Calculate the mean
mean_A <- mean(A)

# Find the minimum value
min_A <- min(A)

# Calculate the product
prod_A <- prod(A)

# Print the results
cat("Vector A:", A, "\n")
cat("Sum:", sum_A, "\n")
cat("Mean:", mean_A, "\n")
cat("Minimum:", min_A, "\n")
cat("Product:", prod_A, "\n")

In [ ]:
# prompt: write a program to find the sum, mean and product of the vector b ignoring elements like NA or NaN. b = c(10, NULL, 20, 30, NA)

b <- c(10, NULL, 20, 30, NA)

# Remove NA and NaN values
b <- b[!is.na(b)]
b <- b[!is.nan(b)]
b <- b[!is.null(b)]

# Calculate sum, mean, and product
sum_b <- sum(b,na.rm = TRUE)
print(sum_b)
mean_b <- mean(b, na.rm = TRUE)
prod_b <- prod(b, na.rm = TRUE)

# Print the results
cat("Vector b (cleaned):", b, "\n")
cat("Sum:", sum_b, "\n")
cat("Mean:", mean_b, "\n")
cat("Product:", prod_b, "\n")

[1] 60
Vector b (cleaned): 10 20 30
Sum: 60
Mean: 20
Product: 6000

In [ ]:
# prompt: write a program to test whether the numbers 25 and 56 are elements of the vector c c=c(10, 20, 30, 25, 9, 26)

# Create the vecto
c <- c(10, 20, 30, 25, 9, 26)

# Check if 25 is an element of c
is_25_present <- 25 %in% c

# Check if 56 is an element of c
is_56_present <- 56 %in% c

# Print the results
cat("Is 25 present in vector c?", is_25_present, "\n")
cat("Is 56 present in vector c?", is_56_present, "\n")

In [ ]:
b <- c(10, NULL, 20, 30, NA)



# Calculate sum, mean, and product
sum_b <- sum(b,na.rm = TRUE)
print(sum_b)

[1] 60

In [2]:
#activity 7
p <- c(2, 7, 8)
q <- c("A", "B", "C")
x <- list(p, q)
print (x[2])

[[1]]
[1] "A" "B" "C"

In [19]:
#activity8
w <- c(2, 7, 8)
v <- c("A", "B", "C")
x <- list(w, v)

print (x)

w[1] <- "K"
x <- list(w, v)
print(x)

[[1]]
[1] 2 7 8

[[2]]
[1] "A" "B" "C"

[[1]]
[1] "2" "K" "8"

[[2]]
[1] "A" "B" "C"

In [ ]:
#activity8 V2
w <- c(2, 7, 8)
v <- c("A", "B", "C")
x <- list(w, v)

print (x)
x[[2]][1] <- "K"

print(x)

In [7]:
#activity9
a <- list(x = 5, y = 10, z = 15)
sum(unlist(a))

[1] 30

In [16]:
#activity10
Newlist <- list(a = 1:10, b = "Good morning", c = "Hi")

print(Newlist)

Newlist$a <- Newlist$a + 1

print (Newlist)

$a
 [1]  1  2  3  4  5  6  7  8  9 10

$b
[1] "Good morning"

$c
[1] "Hi"

$a
 [1]  2  3  4  5  6  7  8  9 10 11

$b
[1] "Good morning"

$c
[1] "Hi"

In [17]:
#activity11
b <- list(a = 1:10, c = "Hello", d = "AA")
print(b)
b$a[-2]
print(b)

$a
 [1]  1  2  3  4  5  6  7  8  9 10

$c
[1] "Hello"

$d
[1] "AA"

[1]  1  3  4  5  6  7  8  9 10

$a
 [1]  1  2  3  4  5  6  7  8  9 10

$c
[1] "Hello"

$d
[1] "AA"

In [22]:
#activity12
y <- list("a", "b", "c")
q <- list("A", "B", "C", "a", "b", "c")

yq <- intersect(y,q)

print (yq)

setdiff(unlist(q), unlist(y))

[[1]]
[1] "a"

[[2]]
[1] "b"

[[3]]
[1] "c"

[1] "A" "B" "C"